iframe {
  overflow: hidden
}

.skew-10 {
  transform: skewY(10deg)
}

.skew-n-10 {
  transform: skewY(-10deg)
}

.skew-15 {
  transform: skewY(15deg)
}

.skew-n-15 {
  transform: skewY(-15deg)
}

.skew-5 {
  transform: skewY(5deg)
}

.skew-n-5 {
  transform: skewY(-5deg)
}

.cover-top {
  margin-top: -100px;
}

.cover-top-2 {
  margin-top: -200px;
}

.cover-top-3 {
  margin-top: -275px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pb-300 {
  padding-bottom: 300px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-50 {
  margin-bottom: 50px;
}

.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

@font-face {
  font-family: Futura Round Bold;
  src: url(../fonts/Futura\ Round\ Bold.ttf);
}

@font-face {
  font-family: Futura Round;
  src: url(../fonts/Futura\ Round.ttf);
}

div {
  font-family: Futura Round;
}